.footer {
  width: 100%;
  display: flex;
  overflow: auto;
  box-sizing: border-box;
  flex-direction: column;
  background-color: #673ab7;
}
.contact-section {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  background-color: transparent;
}
.phone {
  margin: 0;
  display: flex;
  box-sizing: border-box;
  margin-top: 0;
  margin-left: 0;
  margin-right: 30px;
  margin-bottom: 0;
  flex-direction: column;
  background-color: transparent;
}
.text {
  color: #c4c4c4;
  font-size: 14px;
  font-weight: bolder;
}
.text01 {
  color: #ffffff;
}
.address {
  margin: 0;
  display: flex;
  box-sizing: border-box;
  margin-top: 0;
  margin-left: 0;
  margin-right: 30px;
  margin-bottom: 0;
  flex-direction: column;
  background-color: transparent;
}
.text02 {
  color: #c4c4c4;
  font-size: 14px;
  font-weight: bolder;
}
.text03 {
  color: #ffffff;
}
.footer-menu {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: flex-start;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  justify-content: space-between;
  background-color: transparent;
}
.footersection {
  display: flex;
  box-sizing: border-box;
  margin-top: 10px;
  margin-right: 20px;
  flex-direction: column;
  background-color: #673ab7;
}
.text04 {
  color: #ffffff;
  font-weight: bolder;
  margin-bottom: 15px;
  letter-spacing: 1.5;
}
.text05 {
  color: #C4C4C4;
  margin-bottom: 10px;
}
.text06 {
  color: #C4C4C4;
  margin-bottom: 10px;
}
.text07 {
  color: #C4C4C4;
  margin-bottom: 10px;
  text-decoration: underline;
}
.footersection1 {
  display: flex;
  box-sizing: border-box;
  margin-top: 10px;
  margin-right: 20px;
  flex-direction: column;
  background-color: #673ab7;
}
.text08 {
  color: #ffffff;
  font-weight: bolder;
  margin-bottom: 15px;
  letter-spacing: 1.5;
}
.text09 {
  color: #C4C4C4;
  margin-bottom: 10px;
}
.text10 {
  color: #C4C4C4;
  margin-bottom: 10px;
}
.text11 {
  color: #C4C4C4;
  margin-bottom: 10px;
  text-decoration: underline;
}
.get-in-touch {
  display: flex;
  box-sizing: border-box;
  border-color: #fff;
  border-style: solid;
  padding-left: 60px;
  flex-direction: column;
  background-color: transparent;
  border-top-width: 0;
  border-left-width: 1px;
  border-right-width: 0;
  border-bottom-width: 0;
}
.email {
  display: flex;
  align-items: center;
}
.text12 {
  color: #fff;
  margin-left: 10px;
}
.bottom {
  margin: 0;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 0;
  align-items: flex-start;
  margin-left: 100px;
  padding-top: 15px;
  border-color: #ffffff;
  border-style: solid;
  margin-right: 100px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
  justify-content: space-between;
  background-color: transparent;
  border-top-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
}
.social-media {
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon1 {
  margin-right: 10px;
}
.svg {
  margin-right: 10px;
}
.all-rights {
  color: #c4c4c4;
  margin: 10px;
}
@media(max-width: 991px) {
  .footer-menu {
    padding-left: 50px;
    padding-right: 50px;
  }
  .get-in-touch {
    padding: 0;
    border-width: 0;
  }
}
@media(max-width: 767px) {
  .contact-section {
    padding-left: 50px;
    padding-right: 50px;
  }
  .text {
    margin-top: 10px;
  }
  .text02 {
    margin-top: 10px;
  }
  .footer-menu {
    justify-content: space-between;
  }
  .bottom {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media(max-width: 479px) {
  .footer-menu {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
  }
  .email {
    align-self: center;
  }
  .bottom {
    justify-content: center;
  }
  .all-rights {
    text-align: center;
  }
}
