.stats {
  display: flex;
  padding: 20px;
  overflow: auto;
  align-self: center;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.top {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
  align-items: flex-end;
  padding-bottom: 40px;
  background-color: transparent;
}
.container {
  width: 250px;
  height: 250px;
  box-sizing: border-box;
  margin-right: 40px;
  background-size: cover;
  background-color: rgba(20, 20, 20, 0.2);
  background-image: url('https://images.unsplash.com/photo-1516542076529-1ea3854896f2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjkxMzIxfQ');
  background-position: center;
}
.container1 {
  color: #fff;
  width: 150px;
  height: 150px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
}
.text {
  font-size: 32px;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 10px;
}
.text1 {
  text-align: center;
}
.bottom {
  display: flex;
  align-self: flex-end;
  box-sizing: border-box;
  align-items: flex-start;
  padding-left: 100px;
  justify-content: flex-end;
  background-color: transparent;
}
.container2 {
  width: 150px;
  height: 150px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #8AECDF;
}
.text2 {
  font-size: 32px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.container3 {
  width: 250px;
  height: 250px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  margin-left: 40px;
  flex-direction: column;
  justify-content: center;
  background-color: #8aecdf;
}
.text4 {
  margin: 0;
  font-size: 32px;
  margin-top: 0;
  font-weight: bolder;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
}
.text5 {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}
@media(max-width: 991px) {
  .stats {
    padding-top: 50px;
  }
  .container {
    width: 220px;
    height: 220px;
  }
  .container3 {
    width: 220px;
    height: 220px;
  }
}
@media(max-width: 767px) {
  .container {
    width: 200px;
    height: 200px;
  }
  .bottom {
    padding-left: 0;
  }
}
@media(max-width: 479px) {
  .container {
    width: 150px;
    height: 150px;
  }
  .container1 {
    width: 100px;
    height: 100px;
  }
  .container2 {
    width: 100px;
    height: 100px;
  }
  .container3 {
    width: 200px;
    height: 200px;
  }
}
