.16678ebe-2e77-4c14-bf2f-65d30edaa1c9 {
  color: #333;
  text-decoration: underline;
  text-decoration-color: #822cec;
}
.0e1d4340-2d42-4cbb-8d7a-99341ecbcd0d {
  color: #fff;
  border: unset;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #822cec;
}
.171ed1aa-2918-4878-8b05-eba426bcc4e9 {
  border: 1px solid #333;
  border-radius: 2px;
  background-color: #fff;
}
.348b27d7-01cd-4578-a71a-ce8b24da2a86 {
  border: 1px solid #333;
  border-radius: 2px;
  background-color: #fff;
}
.2b8129d8-6d74-46e0-8c44-6b4d7ee86bfa {
  border: 1px solid #333;
  border-radius: 2px;
  background-color: #fff;
}
.5cde1b6b-3e51-4c92-9a52-6072967acbe5 {
  border: unset;
}
.9144e135-fab8-4ce9-9d8a-ffa263ab5ccc {
  fill: #fff;
}
.c0257c32-9c21-4541-ac16-d634aad5f0f7 {
  font-weight: 400;
}
.06ba3286-a754-42ce-9f2f-029282d02842 {
  font-weight: 400;
}
.4289aad7-0eb5-4cc7-9dec-011c47a85062 {
  font-weight: 400;
}
.ccdd0d43-ae9a-4665-9ace-f0073d30297c {
  font-weight: 400;
}
.ae30211c-02ff-4105-8956-65836791d5eb {
  font-weight: 400;
}
.c0ab341f-1b24-4514-8a4c-252e31dfa8ba {
  font-weight: 400;
}
